<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNYlPqKEnHEEHvi81Zt0CGwXQ_50RoyQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>32680173842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-flutter-d7c41</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-flutter-d7c41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32680173842:ios:ff6eec9e3ef65b8776d3cb</string>
</dict>
</plist>